<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
    html, body { height: 100%; }
    table, th , td {
        border-collapse: collapse;
        padding: 5px;
    }

    table tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    table tr:nth-child(even) {
        background-color: #ffffff;
    }

</style>

<br>
<div layout = "row">
  <div flex="5"></div>
  <form flex = "90" layout = "row">
    <span class="md-headline">Concat Work File</span>
    <span flex></span>
    <md-button class="md-primary md-raised" ng-click="doSearchWorkFile()">Search</md-button>
    <md-button class="md-primary md-raised" ng-click="doConcatWorkFile()">Concat</md-button>

      <div layout="row" layout-align="end center">
        <span flex></span>
        <md-button ng-click="doResetInput()">Reset</md-button>
      </div>
  </form>
</div>
<div layout="column" ng-cloak="">
  <md-contentclass="md-padding" layout="row">
    <div flex="5"></div>
    <form flex="90">
      <md-tabs md-dynamic-height md-border-bottom >
        <md-tab md-on-select = "setIndex(0)" label="Total Upload Summary">
          <md-card>
            <md-card-content layout="column">
              <div class="md-actions" layout="row" layout-align="left center">
                  <md-datepicker ng-model="search.start_date" md-max-date="maxDate" md-placeholder="Enter Start date" ></md-datepicker>
                  <md-datepicker ng-model="search.end_date" md-date-filter="onlyLaterDate" md-max-date="maxDate" md-placeholder="Enter End date"></md-datepicker>
              </div>
              <div layout = "column" flex>
                <md-card>
                  <md-card-title>
                    <md-card-title-text layout="row">
                      <div flex = "20">
                        <md-checkbox ng-model="showFlag" ng-change = "clearDetail()">Show Summary</md-checkbox>
                      </div>
                      <div ng-show = "showFlag" flex = "60" layout="row" layout-align="center center">
                        <h5><strong>User Work File Overview</stßrong></h5><div ng-show= "workFileInfo.length"><h5><strong>({{workFileInfo.length}})</strong></h5></div>
                      </div>
                      <div ng-show = "showFlag" flex = "20" layout="row" layout-align="center center">
                          <span flex></span>
                            Shown Period:
                            <select ng-model="ShownPeriod" ng-change="onShowPeriodChanged()" ng-init=onShowPeriodChanged() >
                                <option value="3">Last 3 Months</option>
                                <option value="6">Last 6 Months</option>
                                <option value="1">Last 1 Year</option>
                                <option value="A">All</option>
                            </select>
                      </div>
                    </md-card-title-text>
                  </md-card-title>
                  <md-card-content>
                    <md-content flex layout-padding style="height: 500px" ng-show = "showFlag">
                      <table class="table table-hover">
                        <tr>
                          <th>User Name</th>
                          <th>Exp Number</th>
                          <th>Timestamp</th>
                          <th>Exp Type</th>
                          <th>Project</th>
                          <th>Program</th>
                          <th>Record Mode</th>
                          <th>Read Only/Full Device</th>
                          <th>Tester</th>
                          <th>Comment</th>
                          <th>Exp Files</th>
                          <th>Detail</th>
                        </tr>
                        <tr ng-repeat="row in workFileInfo">
                          <td>{{row.exp_user}}</td>
                          <td>{{row.exp_no}}</td>
                          <td>{{row.timestamp}}</td>
                          <td>{{row.exp_type}}</td>
                          <td>{{row.project}}</td>
                          <td>{{row.program}}</td>
                          <td>{{row.record_mode}}</td>
                          <td>{{row.read_only}}</td>
                          <td>{{row.tester}}</td>
                          <td>{{row.comment}}</td>
                          <td>{{row.files.length}}</td>
                          <td nowrap>
                            <button class="btn" ng-click="showDetailExp(row.exp_user, row.exp_no)">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Detail
                            </button>
                            <button class="btn" ng-click="addToExpList(row.exp_user, row.exp_no, '*')">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Add To
                            </button>
                          </td>
                        </tr>
                      </table>
                    </md-content>
                  </md-card-content>
                </md-card>
                <md-card>
                  <md-card-content ng-show = "!showFlag && subExpList.length !=0">
                    <md-content flex layout-padding style="height: 400px" >
                      <table class="table table-hover">
                        <tr>
                          <th>User Name</th>
                          <th>Exp Number</th>
                          <th>Sub Exp Number</th>
                          <th>File Description</th>
                          <th>File Name</th>
                          <th>File Size</th>
                        </tr>
                        <tr ng-repeat="row in subExpList">
                          <td>{{row.exp_user}}</td>
                          <td>{{row.exp_no}}</td>
                          <td>{{row.exp_sub_no}}</td>
                          <td>{{row.file_descr}}</td>
                          <td>{{row.file_name}}</td>
                          <td>{{row.file_size}}</td>
                        </tr>
                      </table>
                    </md-content>
                  </md-card-content>
                </md-card>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-title  flex layout-padding >
              <div flex>
                <lable><strong>Experiments Selection: </strong></lable>
                <span us-spinner spinner-key="ConcatSpinner"></span>
                <span flex></span>
                <md-button class="md-primary md-raised" ng-click="doAddExp()">Add Experiment</md-button>
              </div>
            </md-card-title>
            <md-card-content ng-show = "expSelection.length">
              <md-content layout = "column"  flex layout-padding>
                <div ng-repeat="exp in expSelection">
                  <label><strong>Experiment User</strong></label>
                  <input ng-model="exp.exp_user">
                    <label><strong>Experiment Number</strong></label>
                    <input ng-model="exp.exp_no">
                    <label><strong>Sub Experiments (* for All)</strong></label>
                    <input ng-model="exp.sub_exps">
                    <button class="btn" ng-click="doDelExp($index)">
                      <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Delete
                    </button>
                </div>
              </md-content>
            </md-card-content>
          </md-card>
        </md-tab>
        <md-tab md-on-select = "setIndex(1)" label="More">
        </md-tab>
      </md-tabs>
    </form>
    <div flex="5"></div>
  </md-content>
</div>
