<style>
         table, th , td {
            border-collapse: collapse;
            padding: 5px;
         }

         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }

         table tr:nth-child(even) {
            background-color: #ffffff;
         }
</style>
<md-dialog aria-label="Correlation Plot">
  <form>
    <md-toolbar>
     <div class="md-toolbar-tools">
       <h2>Correlation Plot</h2>
       <span flex></span>
       <md-button class="md-icon-button" ng-click="cancel()">
         <md-icon md-svg-src="images/icon/dialog_close.svg" aria-label="Close dialog"></md-icon>
       </md-button>
     </div>
   </md-toolbar>
   <md-dialog-content>
      <div class="md-dialog-content">
        <p></p>
        <div ng-repeat ="doe in items">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Raw Data</th>
                <th>wo User Outlier</th>
                <th>wo Algorith Outlier</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div>{{doe}}</div>
          <!-- <img ng-src="{{doe.image_path}}"/> -->
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
