<style>
         table, th , td {
            border-collapse: collapse;
            padding: 5px;
         }

         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }

         table tr:nth-child(even) {
            background-color: #ffffff;
         }
</style>


<div layout = "row">
  <div flex="5"></div>
  <form flex = "90" layout = "row">
    <span class="md-headline">Setup Data Configuration</span>
    <span flex></span>
    <md-button class="md-primary md-raised" ng-click="doSaveDataToDB()">Save</md-button>
    <div layout="row" layout-align="end center">
      <span flex></span>
      <md-button ng-click="doResetData()">Reset</md-button>
    </div>
  </form>
  <div flex="5"></div>
</div>
<div layout="column" ng-cloak>
  <md-content class="md-padding" layout="row">
  <div flex="5"></div>
  <form flex="90">
    <md-tabs md-dynamic-height md-border-bottom >
      <md-tab label="Program/Record">
        <div layout = "row" flex>
          <div flex = "20">
            <md-card>
              <md-card-title>
                <br>
                <button class="btn btn-success" ng-click="editRow('new', '', '')">
                  <span class="glyphicon glyphicon-user"></span> Create New Row
                </button>
              </md-card-title>
              <md-card-content>
                <div ng-hide = "hideform" flex>
                  <h4 ng-show="edit">Create New Row:</h4>
                  <h4 ng-hide="edit">Edit Row:</h4>
                  <md-input-container>
                    <label>Program:</label>
                    <input ng-model="currentSelection.program" >
                  </md-input-container>

                  <md-input-container>
                    <label>Record Mode:</label>
                    <input ng-model="currentSelection.record_mode" >
                  </md-input-container>
                  <hr>
                  <button class="btn btn-success"  ng-click="saveNew()" ng-show="edit">
                    <span class="glyphicon glyphicon-save"></span> Add Row
                  </button>
                  <button class="btn btn-success"  ng-click="saveEdit(currentSelection.row_id)" ng-hide="edit">
                    <span class="glyphicon glyphicon-save"></span> Save change
                  </button>
                </div>
              </md-card-content>
          </md-card>
        </div>
        <div flex = "10"></div>
        <div flex = "70">
          <md-card>
            <md-card-title layout="row" layout-align="center center">
              <h5><strong>Program / Record Mode Pairs </strong></h5><div ng-show= "dataPair.length"><h5><strong>({{dataPair.length}})</strong></h5></div>
            </md-card-title>
            <md-card-content>
              <md-content flex layout-padding style="height: 500px">
                <span flex>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Program Name</th>
                        <th>Record Mode</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in dataPair">
                        <td>{{row.program}}</td>
                        <td>{{row.record_mode}}</td>
                        <td>
                          <button class="btn" ng-click="editRow($index, row.program, row.record_mode)">
                          <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                          </button>
                        </td>
                        <td>
                          <button class="btn" ng-click="deleteRow($index)">
                          <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Delete
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                <span>
              </md-content>
            </md-card-content>
          </md-card>
        </div>

      </div>
      </md-tab>
      <md-tab label="More" >
      </md-tab>
    </md-tabs>
  </form>
  <div flex="5"></div>
  </md-content>
</div>
