<style>.markdown-preview:not([data-use-github-style]) { padding: 2em; font-size: 1.2em; color: rgb(0, 0, 0); overflow: auto; background-color: rgb(255, 255, 255); }
.markdown-preview:not([data-use-github-style]) > :first-child { margin-top: 0px; }
.markdown-preview:not([data-use-github-style]) h1, .markdown-preview:not([data-use-github-style]) h2, .markdown-preview:not([data-use-github-style]) h3, .markdown-preview:not([data-use-github-style]) h4, .markdown-preview:not([data-use-github-style]) h5, .markdown-preview:not([data-use-github-style]) h6 { line-height: 1.2; margin-top: 1.5em; margin-bottom: 0.5em; color: rgb(0, 0, 0); }
.markdown-preview:not([data-use-github-style]) h1 { font-size: 2.4em; font-weight: 300; }
.markdown-preview:not([data-use-github-style]) h2 { font-size: 1.8em; font-weight: 400; }
.markdown-preview:not([data-use-github-style]) h3 { font-size: 1.5em; font-weight: 500; }
.markdown-preview:not([data-use-github-style]) h4 { font-size: 1.2em; font-weight: 600; }
.markdown-preview:not([data-use-github-style]) h5 { font-size: 1.1em; font-weight: 600; }
.markdown-preview:not([data-use-github-style]) h6 { font-size: 1em; font-weight: 600; }
.markdown-preview:not([data-use-github-style]) strong { color: rgb(255, 255, 255); }
.markdown-preview:not([data-use-github-style]) del { color: rgb(124, 135, 156); }
.markdown-preview:not([data-use-github-style]) a, .markdown-preview:not([data-use-github-style]) a code { color: rgb(82, 139, 255); }
.markdown-preview:not([data-use-github-style]) img { max-width: 100%; }
.markdown-preview:not([data-use-github-style]) > p { margin-top: 0px; margin-bottom: 1.5em; }
.markdown-preview:not([data-use-github-style]) > ul, .markdown-preview:not([data-use-github-style]) > ol { margin-bottom: 1.5em; }
.markdown-preview:not([data-use-github-style]) blockquote { margin: 1.5em 0px; font-size: inherit; color: rgb(124, 135, 156); border-color: rgb(75, 83, 98); border-width: 4px; }
.markdown-preview:not([data-use-github-style]) hr { margin: 3em 0px; border-top-width: 2px; border-top-style: dashed; border-top-color: rgb(75, 83, 98); background: none; }
.markdown-preview:not([data-use-github-style]) table { margin: 1.5em 0px; }
.markdown-preview:not([data-use-github-style]) th { color: rgb(255, 255, 255); }
.markdown-preview:not([data-use-github-style]) th, .markdown-preview:not([data-use-github-style]) td { padding: 0.66em 1em; border: 1px solid rgb(75, 83, 98); }
.markdown-preview:not([data-use-github-style]) code { color: rgb(255, 255, 255); background-color: rgb(58, 63, 75); }
.markdown-preview:not([data-use-github-style]) pre.editor-colors { margin: 1.5em 0px; padding: 1em; font-size: 0.92em; border-radius: 3px; background-color: rgb(49, 54, 63); }
.markdown-preview:not([data-use-github-style]) kbd { color: rgb(255, 255, 255); border-width: 1px 1px 2px; border-style: solid; border-color: rgb(75, 83, 98) rgb(75, 83, 98) rgb(62, 68, 81); background-color: rgb(58, 63, 75); }
.markdown-preview[data-use-github-style] { font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif; line-height: 1.6; word-wrap: break-word; padding: 30px; font-size: 16px; color: rgb(51, 51, 51); overflow: scroll; background-color: rgb(255, 255, 255); }
.markdown-preview[data-use-github-style] > :first-child { margin-top: 0px !important; }
.markdown-preview[data-use-github-style] > :last-child { margin-bottom: 0px !important; }
.markdown-preview[data-use-github-style] a:not([href]) { color: inherit; text-decoration: none; }
.markdown-preview[data-use-github-style] .absent { color: rgb(204, 0, 0); }
.markdown-preview[data-use-github-style] .anchor { position: absolute; top: 0px; left: 0px; display: block; padding-right: 6px; padding-left: 30px; margin-left: -30px; }
.markdown-preview[data-use-github-style] .anchor:focus { outline: none; }
.markdown-preview[data-use-github-style] h1, .markdown-preview[data-use-github-style] h2, .markdown-preview[data-use-github-style] h3, .markdown-preview[data-use-github-style] h4, .markdown-preview[data-use-github-style] h5, .markdown-preview[data-use-github-style] h6 { position: relative; margin-top: 1em; margin-bottom: 16px; font-weight: bold; line-height: 1.4; }
.markdown-preview[data-use-github-style] h1 .octicon-link, .markdown-preview[data-use-github-style] h2 .octicon-link, .markdown-preview[data-use-github-style] h3 .octicon-link, .markdown-preview[data-use-github-style] h4 .octicon-link, .markdown-preview[data-use-github-style] h5 .octicon-link, .markdown-preview[data-use-github-style] h6 .octicon-link { display: none; color: rgb(0, 0, 0); vertical-align: middle; }
.markdown-preview[data-use-github-style] h1:hover .anchor, .markdown-preview[data-use-github-style] h2:hover .anchor, .markdown-preview[data-use-github-style] h3:hover .anchor, .markdown-preview[data-use-github-style] h4:hover .anchor, .markdown-preview[data-use-github-style] h5:hover .anchor, .markdown-preview[data-use-github-style] h6:hover .anchor { padding-left: 8px; margin-left: -30px; text-decoration: none; }
.markdown-preview[data-use-github-style] h1:hover .anchor .octicon-link, .markdown-preview[data-use-github-style] h2:hover .anchor .octicon-link, .markdown-preview[data-use-github-style] h3:hover .anchor .octicon-link, .markdown-preview[data-use-github-style] h4:hover .anchor .octicon-link, .markdown-preview[data-use-github-style] h5:hover .anchor .octicon-link, .markdown-preview[data-use-github-style] h6:hover .anchor .octicon-link { display: inline-block; }
.markdown-preview[data-use-github-style] h1 tt, .markdown-preview[data-use-github-style] h2 tt, .markdown-preview[data-use-github-style] h3 tt, .markdown-preview[data-use-github-style] h4 tt, .markdown-preview[data-use-github-style] h5 tt, .markdown-preview[data-use-github-style] h6 tt, .markdown-preview[data-use-github-style] h1 code, .markdown-preview[data-use-github-style] h2 code, .markdown-preview[data-use-github-style] h3 code, .markdown-preview[data-use-github-style] h4 code, .markdown-preview[data-use-github-style] h5 code, .markdown-preview[data-use-github-style] h6 code { font-size: inherit; }
.markdown-preview[data-use-github-style] h1 { padding-bottom: 0.3em; font-size: 2.25em; line-height: 1.2; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); }
.markdown-preview[data-use-github-style] h1 .anchor { line-height: 1; }
.markdown-preview[data-use-github-style] h2 { padding-bottom: 0.3em; font-size: 1.75em; line-height: 1.225; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); }
.markdown-preview[data-use-github-style] h2 .anchor { line-height: 1; }
.markdown-preview[data-use-github-style] h3 { font-size: 1.5em; line-height: 1.43; }
.markdown-preview[data-use-github-style] h3 .anchor { line-height: 1.2; }
.markdown-preview[data-use-github-style] h4 { font-size: 1.25em; }
.markdown-preview[data-use-github-style] h4 .anchor { line-height: 1.2; }
.markdown-preview[data-use-github-style] h5 { font-size: 1em; }
.markdown-preview[data-use-github-style] h5 .anchor { line-height: 1.1; }
.markdown-preview[data-use-github-style] h6 { font-size: 1em; color: rgb(119, 119, 119); }
.markdown-preview[data-use-github-style] h6 .anchor { line-height: 1.1; }
.markdown-preview[data-use-github-style] p, .markdown-preview[data-use-github-style] blockquote, .markdown-preview[data-use-github-style] ul, .markdown-preview[data-use-github-style] ol, .markdown-preview[data-use-github-style] dl, .markdown-preview[data-use-github-style] table, .markdown-preview[data-use-github-style] pre { margin-top: 0px; margin-bottom: 16px; }
.markdown-preview[data-use-github-style] hr { height: 4px; padding: 0px; margin: 16px 0px; border: 0px none; background-color: rgb(231, 231, 231); }
.markdown-preview[data-use-github-style] ul, .markdown-preview[data-use-github-style] ol { padding-left: 2em; }
.markdown-preview[data-use-github-style] ul.no-list, .markdown-preview[data-use-github-style] ol.no-list { padding: 0px; list-style-type: none; }
.markdown-preview[data-use-github-style] ul ul, .markdown-preview[data-use-github-style] ul ol, .markdown-preview[data-use-github-style] ol ol, .markdown-preview[data-use-github-style] ol ul { margin-top: 0px; margin-bottom: 0px; }
.markdown-preview[data-use-github-style] li > p { margin-top: 16px; }
.markdown-preview[data-use-github-style] dl { padding: 0px; }
.markdown-preview[data-use-github-style] dl dt { padding: 0px; margin-top: 16px; font-size: 1em; font-style: italic; font-weight: bold; }
.markdown-preview[data-use-github-style] dl dd { padding: 0px 16px; margin-bottom: 16px; }
.markdown-preview[data-use-github-style] blockquote { padding: 0px 15px; color: rgb(119, 119, 119); border-left-width: 4px; border-left-style: solid; border-left-color: rgb(221, 221, 221); }
.markdown-preview[data-use-github-style] blockquote > :first-child { margin-top: 0px; }
.markdown-preview[data-use-github-style] blockquote > :last-child { margin-bottom: 0px; }
.markdown-preview[data-use-github-style] table { display: block; width: 100%; overflow: auto; word-break: keep-all; }
.markdown-preview[data-use-github-style] table th { font-weight: bold; }
.markdown-preview[data-use-github-style] table th, .markdown-preview[data-use-github-style] table td { padding: 6px 13px; border: 1px solid rgb(221, 221, 221); }
.markdown-preview[data-use-github-style] table tr { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 204, 204); background-color: rgb(255, 255, 255); }
.markdown-preview[data-use-github-style] table tr:nth-child(2n) { background-color: rgb(248, 248, 248); }
.markdown-preview[data-use-github-style] img { max-width: 100%; box-sizing: border-box; }
.markdown-preview[data-use-github-style] .emoji { max-width: none; }
.markdown-preview[data-use-github-style] span.frame { display: block; overflow: hidden; }
.markdown-preview[data-use-github-style] span.frame > span { display: block; float: left; width: auto; padding: 7px; margin: 13px 0px 0px; overflow: hidden; border: 1px solid rgb(221, 221, 221); }
.markdown-preview[data-use-github-style] span.frame span img { display: block; float: left; }
.markdown-preview[data-use-github-style] span.frame span span { display: block; padding: 5px 0px 0px; clear: both; color: rgb(51, 51, 51); }
.markdown-preview[data-use-github-style] span.align-center { display: block; overflow: hidden; clear: both; }
.markdown-preview[data-use-github-style] span.align-center > span { display: block; margin: 13px auto 0px; overflow: hidden; text-align: center; }
.markdown-preview[data-use-github-style] span.align-center span img { margin: 0px auto; text-align: center; }
.markdown-preview[data-use-github-style] span.align-right { display: block; overflow: hidden; clear: both; }
.markdown-preview[data-use-github-style] span.align-right > span { display: block; margin: 13px 0px 0px; overflow: hidden; text-align: right; }
.markdown-preview[data-use-github-style] span.align-right span img { margin: 0px; text-align: right; }
.markdown-preview[data-use-github-style] span.float-left { display: block; float: left; margin-right: 13px; overflow: hidden; }
.markdown-preview[data-use-github-style] span.float-left span { margin: 13px 0px 0px; }
.markdown-preview[data-use-github-style] span.float-right { display: block; float: right; margin-left: 13px; overflow: hidden; }
.markdown-preview[data-use-github-style] span.float-right > span { display: block; margin: 13px auto 0px; overflow: hidden; text-align: right; }
.markdown-preview[data-use-github-style] code, .markdown-preview[data-use-github-style] tt { padding: 0.2em 0px; margin: 0px; font-size: 85%; border-radius: 3px; background-color: rgba(0, 0, 0, 0.0392157); }
.markdown-preview[data-use-github-style] code::before, .markdown-preview[data-use-github-style] tt::before, .markdown-preview[data-use-github-style] code::after, .markdown-preview[data-use-github-style] tt::after { letter-spacing: -0.2em; content: " "; }
.markdown-preview[data-use-github-style] code br, .markdown-preview[data-use-github-style] tt br { display: none; }
.markdown-preview[data-use-github-style] del code { text-decoration: inherit; }
.markdown-preview[data-use-github-style] pre > code { padding: 0px; margin: 0px; font-size: 100%; word-break: normal; white-space: pre; border: 0px; background: transparent; }
.markdown-preview[data-use-github-style] .highlight { margin-bottom: 16px; }
.markdown-preview[data-use-github-style] .highlight pre, .markdown-preview[data-use-github-style] pre { padding: 16px; overflow: auto; font-size: 85%; line-height: 1.45; border-radius: 3px; background-color: rgb(247, 247, 247); }
.markdown-preview[data-use-github-style] .highlight pre { margin-bottom: 0px; word-break: normal; }
.markdown-preview[data-use-github-style] pre { word-wrap: normal; }
.markdown-preview[data-use-github-style] pre code, .markdown-preview[data-use-github-style] pre tt { display: inline; max-width: initial; padding: 0px; margin: 0px; overflow: initial; line-height: inherit; word-wrap: normal; border: 0px; background-color: transparent; }
.markdown-preview[data-use-github-style] pre code::before, .markdown-preview[data-use-github-style] pre tt::before, .markdown-preview[data-use-github-style] pre code::after, .markdown-preview[data-use-github-style] pre tt::after { content: normal; }
.markdown-preview[data-use-github-style] kbd { display: inline-block; padding: 3px 5px; font-size: 11px; line-height: 10px; color: rgb(85, 85, 85); vertical-align: middle; border-style: solid; border-width: 1px; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(187, 187, 187); border-radius: 3px; box-shadow: rgb(187, 187, 187) 0px -1px 0px inset; background-color: rgb(252, 252, 252); }
.markdown-preview[data-use-github-style] a { color: rgb(51, 122, 183); }
.markdown-preview[data-use-github-style] code { color: inherit; }
.markdown-preview[data-use-github-style] pre.editor-colors { padding: 0.8em 1em; margin-bottom: 1em; font-size: 0.85em; border-radius: 4px; overflow: auto; }
.scrollbars-visible-always .markdown-preview pre.editor-colors::shadow .vertical-scrollbar, .scrollbars-visible-always .markdown-preview pre.editor-colors::shadow .horizontal-scrollbar { visibility: hidden; }
.scrollbars-visible-always .markdown-preview pre.editor-colors:hover::shadow .vertical-scrollbar, .scrollbars-visible-always .markdown-preview pre.editor-colors:hover::shadow .horizontal-scrollbar { visibility: visible; }
.bracket-matcher .region {
  border-bottom: 1px dotted lime;
  position: absolute;
}

.spell-check-misspelling .region {
  border-bottom: 2px dotted rgba(255, 51, 51, 0.75);
}

pre.editor-colors,
.host {
  background-color: #282c34;
  color: #abb2bf;
}
pre.editor-colors .line.cursor-line,
.host .line.cursor-line {
  background-color: rgba(153, 187, 255, 0.04);
}
pre.editor-colors .invisible,
.host .invisible {
  color: #abb2bf;
}
pre.editor-colors .cursor,
.host .cursor {
  border-left: 2px solid #528bff;
}
pre.editor-colors .selection .region,
.host .selection .region {
  background-color: #3e4451;
}
pre.editor-colors .bracket-matcher .region,
.host .bracket-matcher .region {
  border-bottom: 1px solid #528bff;
  box-sizing: border-box;
}
pre.editor-colors .invisible-character,
.host .invisible-character {
  color: rgba(171, 178, 191, 0.15);
}
pre.editor-colors .indent-guide,
.host .indent-guide {
  color: rgba(171, 178, 191, 0.15);
}
pre.editor-colors .wrap-guide,
.host .wrap-guide {
  background-color: rgba(171, 178, 191, 0.15);
}
pre.editor-colors .gutter .line-number,
.host .gutter .line-number {
  color: #636d83;
  -webkit-font-smoothing: antialiased;
}
pre.editor-colors .gutter .line-number.cursor-line,
.host .gutter .line-number.cursor-line {
  color: #abb2bf;
  background-color: #2c313a;
}
pre.editor-colors .gutter .line-number.cursor-line-no-selection,
.host .gutter .line-number.cursor-line-no-selection {
  background-color: transparent;
}
pre.editor-colors .gutter .line-number .icon-right,
.host .gutter .line-number .icon-right {
  color: #abb2bf;
}
pre.editor-colors .gutter:not(.git-diff-icon) .line-number.git-line-removed.git-line-removed::before,
.host .gutter:not(.git-diff-icon) .line-number.git-line-removed.git-line-removed::before {
  bottom: -3px;
}
pre.editor-colors .gutter:not(.git-diff-icon) .line-number.git-line-removed::after,
.host .gutter:not(.git-diff-icon) .line-number.git-line-removed::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 25px;
  border-bottom: 1px dotted rgba(224, 82, 82, 0.5);
  pointer-events: none;
}
pre.editor-colors .gutter .line-number.folded,
.host .gutter .line-number.folded,
pre.editor-colors .gutter .line-number:after,
.host .gutter .line-number:after,
pre.editor-colors .fold-marker:after,
.host .fold-marker:after {
  color: #abb2bf;
}
.comment {
  color: #5c6370;
  font-style: italic;
}
.entity.name.type {
  color: #e5c07b;
}
.entity.other.inherited-class {
  color: #98c379;
}
.keyword {
  color: #c678dd;
}
.keyword.control {
  color: #c678dd;
}
.keyword.operator {
  color: #abb2bf;
}
.keyword.other.special-method {
  color: #61afef;
}
.keyword.other.unit {
  color: #d19a66;
}
.storage {
  color: #c678dd;
}
.storage.type.annotation,
.storage.type.primitive {
  color: #c678dd;
}
.storage.modifier.package,
.storage.modifier.import {
  color: #abb2bf;
}
.constant {
  color: #d19a66;
}
.constant.variable {
  color: #d19a66;
}
.constant.character.escape {
  color: #56b6c2;
}
.constant.numeric {
  color: #d19a66;
}
.constant.other.color {
  color: #56b6c2;
}
.constant.other.symbol {
  color: #56b6c2;
}
.variable {
  color: #e06c75;
}
.variable.interpolation {
  color: #be5046;
}
.variable.parameter {
  color: #abb2bf;
}
.string {
  color: #98c379;
}
.string.regexp {
  color: #56b6c2;
}
.string.regexp .source.ruby.embedded {
  color: #e5c07b;
}
.string.other.link {
  color: #e06c75;
}
.punctuation.definition.comment {
  color: #5c6370;
}
.punctuation.definition.method-parameters,
.punctuation.definition.function-parameters,
.punctuation.definition.parameters,
.punctuation.definition.separator,
.punctuation.definition.seperator,
.punctuation.definition.array {
  color: #abb2bf;
}
.punctuation.definition.heading,
.punctuation.definition.identity {
  color: #61afef;
}
.punctuation.definition.bold {
  color: #e5c07b;
  font-weight: bold;
}
.punctuation.definition.italic {
  color: #c678dd;
  font-style: italic;
}
.punctuation.section.embedded {
  color: #be5046;
}
.punctuation.section.method,
.punctuation.section.class,
.punctuation.section.inner-class {
  color: #abb2bf;
}
.support.class {
  color: #e5c07b;
}
.support.type {
  color: #56b6c2;
}
.support.function {
  color: #56b6c2;
}
.support.function.any-method {
  color: #61afef;
}
.entity.name.function {
  color: #61afef;
}
.entity.name.class,
.entity.name.type.class {
  color: #e5c07b;
}
.entity.name.section {
  color: #61afef;
}
.entity.name.tag {
  color: #e06c75;
}
.entity.other.attribute-name {
  color: #d19a66;
}
.entity.other.attribute-name.id {
  color: #61afef;
}
.meta.class {
  color: #e5c07b;
}
.meta.class.body {
  color: #abb2bf;
}
.meta.method-call,
.meta.method {
  color: #abb2bf;
}
.meta.definition.variable {
  color: #e06c75;
}
.meta.link {
  color: #d19a66;
}
.meta.require {
  color: #61afef;
}
.meta.selector {
  color: #c678dd;
}
.meta.separator {
  background-color: #373b41;
  color: #abb2bf;
}
.meta.tag {
  color: #abb2bf;
}
.none {
  color: #abb2bf;
}
.invalid.deprecated {
  color: #523d14 !important;
  background-color: #e0c285 !important;
}
.invalid.illegal {
  color: #ffffff !important;
  background-color: #e05252 !important;
}
.markup.bold {
  color: #d19a66;
  font-weight: bold;
}
.markup.changed {
  color: #c678dd;
}
.markup.deleted {
  color: #e06c75;
}
.markup.italic {
  color: #c678dd;
  font-style: italic;
}
.markup.heading .punctuation.definition.heading {
  color: #61afef;
}
.markup.inserted {
  color: #98c379;
}
.markup.list {
  color: #e06c75;
}
.markup.quote {
  color: #d19a66;
}
.markup.raw {
  color: #98c379;
}
.source.cs .keyword.operator {
  color: #c678dd;
}
.source.css .property-name,
.source.css .property-value {
  color: #828997;
}
.source.css .property-name.support,
.source.css .property-value.support {
  color: #abb2bf;
}
.source.gfm .markup {
  -webkit-font-smoothing: auto;
}
.source.gfm .markup.heading {
  color: #e06c75;
}
.source.gfm .markup.link {
  color: #c678dd;
}
.source.gfm .link .entity {
  color: #61afef;
}
.source.ini .keyword.other.definition.ini {
  color: #e06c75;
}
.source.java .storage.modifier.import {
  color: #e5c07b;
}
.source.java .storage.type {
  color: #e5c07b;
}
.source.java-properties .meta.key-pair {
  color: #e06c75;
}
.source.java-properties .meta.key-pair > .punctuation {
  color: #abb2bf;
}
.source.json .meta.structure.dictionary.json > .string.quoted.json {
  color: #e06c75;
}
.source.json .meta.structure.dictionary.json > .string.quoted.json > .punctuation.string {
  color: #e06c75;
}
.source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json,
.source.json .meta.structure.array.json > .value.json > .string.quoted.json,
.source.json .meta.structure.dictionary.json > .value.json > .string.quoted.json > .punctuation,
.source.json .meta.structure.array.json > .value.json > .string.quoted.json > .punctuation {
  color: #98c379;
}
.source.json .meta.structure.dictionary.json > .constant.language.json,
.source.json .meta.structure.array.json > .constant.language.json {
  color: #56b6c2;
}
.source.ruby .constant.other.symbol > .punctuation {
  color: inherit;
}
.source.python .keyword.operator.logical.python {
  color: #c678dd;
}
.source.python .variable.parameter {
  color: #d19a66;
}
</style>
<div class='markdown-preview' layout = "column">
  <div flex = "5"><div>
  <div>
    <h1 id="det-data-process-application-user-manual">DET Data Process Application - User Manual</h1>
    <p><img class="emoji" title=":fireworks:" alt="fireworks" src="images/icon/fireworks.jpeg" height="20"> Version:  1.0.</p>
    <p><img class="emoji" title=":tada:" alt="tada" src="images/icon/tada.png" height="20"> Tips : Pay attention to right corn, information pop up.</p>

    <h2 id="application-menu">Application menu</h2>
    <p>After login, users will be directed to <code>Work File Upload</code> page. Administration user will be pointed to <code>Data Setting</code> page.</p>
    <ul>
      <li><code>Menu</code> : first left icon at the left corner,  <img src="images/icon/menu.png" alt="Alt text"></li>
      <li><code>Logout</code> : first right icon at right corner,  <img src="images/icon/logout.png" alt="Alt text"></li>
      <li><code>Help</code> : second to the right icon at right corner,  <img src="images/icon/help.png" alt="Alt text"></li>
    </ul>
    <p>On the Menu panel, the logged in user name are showed, with the user group description.</p>
    <ul>
      <li>No login : icon shows no logged in user, <img src="images/icon/account_off.png" alt="Alt text"></li>
      <li>logged in : icon shows user has logged in, <img src="images/icon/account_circle.png" alt="Alt text"></li>
    </ul>

    <h2 id="work-file-upload-page">Work File Upload Page</h2>
    <h4 id="tab-file-upload">Tab - File Upload</h4>
      <p>User could upload experiment work files to the system. One experiment may have multiple sub work files to upload. System assign <code>Experiment ID</code> and <code>Sub File ID</code> automatically. <code>Experiment ID</code> and <code>Sub File ID</code> are immutable (Once created, no possibility to change). Input attributes for the one experiment are:</p>
      <ul>
        <li><code>Record Mode</code> : Selection required.</li>
        <li><code>Program</code> : Selection required.</li>
        <li><code>Experiment Type</code> : Selection required.</li>
        <li><code>Read Only / Full Device</code> : Selection required.</li>
        <li><code>Project</code> : Input required.</li>
        <li><code>Tester</code> : Input optional.</li>
        <li><p><code>Comment</code> : Input optional.</p></li>
        <li><p><code>Reset</code> : To clear all the input, as well as the file upload queue.</p></li>
      </ul>
      <p>Use <code>Choose Files</code> button to add new files to the experiments, multiple files selection are supported. Enter description for each file or remove files from the uploading queue.
Upload all the selected files using <code>Upload all</code> button or clear all using <code>Remove all</code> button.</p>
      <p>After uploading, <code>Confirm</code> the action or <code>Cancel</code> it from the pop up dialog window.
User only upload experiments files based on user names.</p>

    <h4 id="tab-upload-summary">Tab - Upload Summary</h4>
      <p>User could overview, search and modify its own uploaded experiment files here. Default show period is last three months.</p>
      <ul>
        <li><code>Start Date</code> : Search input for start date.</li>
        <li><code>End Date</code> : Search input for end date.</li>
        <li><code>Search</code> : Search button for filter shown experiments by selected data scope.</li>
        <li><code>Shown Period</code> : Filter shown experiments by various selections, last three months, last six months, last one year, and all.</li>
        <li><code>Show Summary</code> : Show or hide the user work file overview.</li>
      </ul>
      <p>For each file, using <code>Delete</code> button on the Action column to remove the entire experiment, including the sub work files. Caution dialog will be show to let user <code>Confirm</code> or <code>Cancel</code> the remove experiment action. Using <code>Edit</code> button to see the sub work files that attached to the selected experiment, as well as remove and add files into the current experiment.</p>
      <ul>
        <li><code>Remove</code> : Files have to be removed one by one, using the <code>Save</code> button to save the action to database, otherwise, it is only actions in session, using <code>Reset</code> button to go back to original sub work file set.</li>
        <li><code>Add</code> : Similar actions with adding new sub work files to new experiment, see section <a ng-click="scrollTo('tab-upload-summary')">Tab-File Upload</a></li>
      </ul>
      <p>Use the <code>Reset</code> button or <code>Show Summary</code> check box to go back to overview.</p>

    <h2 id="work-file-concat-page">Work File Concat Page</h2>
      <p>Page show all the experiments and its sub work files for all the users. It provide the same search function in the upload page, section <a ng-click="scrollTo('tab-upload-summary')">Upload Summary</a>.</p>
      <p>For each experiments, using <code>Detail</code> button to see the list of sub work files or <code>Add to</code> button to add the entire experiment, including the sub work files into the concat list on the bottom portion. by default, the character <strong>&#39;*&#39;</strong> to represent selecting all sub work files.</p>
      <p>For concat work files, user could add multiple experiment into the concat list using <code>Add Experiment</code> button to add one line item on the bottom portion, or delete one from the list by <code>Delete</code> button.
The atomic pair for concat is experiment user, experiment number and sub experiment number.</p>
      <ul>
        <li><code>Experiment User</code> : Input for experiment owner.</li>
        <li><code>Experiment Number</code> : Input for experiment number.</li>
        <li><p><code>Sub Experiments</code> : Input for list of sub work files, use character <strong>&#39;,&#39;</strong> for delimiter for a set of sub experiments, use the character <strong>&#39;*&#39;</strong> to select all sub work files.</p>
        </li>
        <li><p><code>Concat</code> : Button on the top to perform concat. The successful concat will return the file name to the user and user could locate the created file <a id = 'rf' value="\\172.18.60.20\DETDP\Retrieve_Files">\\mapserverdev\DETDP\Retrieve_Files</a>
        <a href="" ngclipboard data-clipboard-target="#rf">
            [Copy]
        </a>
        (Enter this address into your fold path).</p>
        </li>
      </ul>
      <p>Use the <code>Reset</code> button or <code>Show Summary</code> check box to go back to overview.</p>

      <blockquote>
        <p><img class="emoji" title=":tada:" alt="tada" src="images/icon/tada.png" height="20">Tips:</p>
        <ul>
          <li><p>Using &quot;Add to&quot; button for each experiment to avoid manual error typos for experiment owner and experiment number and then modify the sub experiment number as needed.</p>
          </li>
          <li><p>Concat file followed the naming convention, e.g. &#39;user_concat_timestamps&#39;</p>
          </li>
        </ul>
      </blockquote>
    <h2 id="test-file-retrieve-page">Test File Retrieve Page</h2>
    <h4 id="tab-file-summary">Tab - File Summary</h4>
      <p>User could overview the uploaded test files here. Default show period is last three months. One record is only attached to one configuration file from the system database. The <strong>&#39;DOE File Name&#39;</strong> should be the unique identifier. DOE File Name is abstracted from the uploading process. (Auto upload or manual upload by admin)</p>
      <ul>
        <li><code>Record Mode</code> : Search selection for record mode.</li>
        <li><code>Program</code> : Search selection for Program.</li>
        <li><code>Read Only / Full Device</code> : Search selection for record type.</li>
        <li><code>DOE File Name</code> : Search input for one DOE configuration by file name.</li>
        <li><code>Start Date</code> : Search input for start date.</li>
        <li><code>End Date</code> : Search input for end date.</li>
        <li><p><code>Search</code> : Search button for filter shown experiments by selected data scope.</p>
        </li>
        <li><p><code>Shown Period</code> : Filter shown experiments by various selections, last three months, last six months, last one year, and all.</p>
        </li>
      </ul>
      <p>For each DOE file, using <code>Add to</code> button to add this DOE file into the Retrieve list, for the entire DOE, combined with the parameters filter set up, see section <a ng-click="scrollTo('tab-file-retrieve')">Tab - File Retrieve</a>.</p>
      <p>Use <code>Reset</code> button to clear all the search conditions.</p>
    <h4 id="tab-file-retrieve">Tab - File Retrieve</h4>
      <p>User could merge test files (both data and configuration files) based on the selection of retrieving conditions. By default, the page only hide the detail configuration file content for the last three months. Check <code>Show Conf.File Summary</code> to show them and choose from <code>Shown Period</code> for change the time scope of data, last three months, last six months, last one year, and all.</p>
      <p>The configuration file summary table support filter by column, just click the right part of each column. It also support paging.</p>
      <p>For file retrieving, user should setup conditions of merging. All the conditions can be left to empty if no preferred filter for this conditions. For each condition, the multiple input are delimited by character <strong>&#39;,&#39;</strong>. Multiple input values will give a summarized return result.</p>
      <ul>
        <li><code>Record Mode</code> : Retrieve file by record mode.</li>
        <li><code>Program</code> : Retrieve file by Program.</li>
        <li><code>Read Only / Full Device</code> : Retrieve file by record type.</li>
        <li><code>DOE#</code> : Retrieve file by DOE number, match the column in the configuration file summary table.</li>
        <li><code>Design#</code> : Retrieve file by design, match the column in the configuration file summary table.</li>
        <li><p><code>Parameters</code> : Retrieve file by various Parameters.</p>
          <ul>
            <li>Select one parameter from the list and click <code>Add</code> button to add the parameter into the condition pool.</li>
            <li>Input the values for the added parameter, multiple values are separated by character <strong>&#39;,&#39;</strong>.</li>
            <li>Delete one parameter from the condition pool using <code>Delete</code> button.</li>
          </ul>
        </li>
      </ul>
      <p>User could also configure the retrieved file format by choosing from the check boxes</p>
      <ul>
        <li><code>Full File</code> : return a retrieved file with full columns list.</li>
        <li><code>Customized File</code> : return a retrieved file with user Customized columns list.</li>
        <li><code>Standard File</code> : return a retrieved file with user Standard columns list.</li>
      </ul>
      <p>Customized and Standard columns list should be set up before retrieving in the section <a ng-click="scrollTo('user-setting')">User Setting</a>, otherwise, system won&#39;t return the retrieved file.</p>
      <p>After setting up the condition for retrieving, using <code>Retrieve</code> button on the top to perform selected files merging that satisfy all the set conditions. The successful retrieving will return the file name to the user and user could locate the created file <a id = 'rf' value="\\172.18.60.20\DETDP\Retrieve_Files">\\mapserverdev\DETDP\Retrieve_Files</a>
        <a href="" ngclipboard data-clipboard-target="#rf">
            [Copy]
        </a>
        (Enter this address into your fold path).</p>
      <blockquote>
        <p><img class="emoji" title=":tada:" alt="tada" src="images/icon/tada.png" height="20">Tips:</p>
        <ul>
          <li><p>Duplicated selection of the same parameter represent as combination that drive the return result.</p>
          </li>
          <li><p>Retrieved file followed the naming convention, e.g. &#39;user_STANDARD_timestamps&#39;, &#39;user_CUSTOMIZED_timestamps&#39;, &#39;user_FULL_timestamps&#39;</p>
          </li>
        </ul>
      </blockquote>
    <h2 id="user-setting">User Setting</h2>
      <p>User could set up user owned standard / Customized columns list from the full columns list in the system. To add columns, type the name in the top part &#39;Search for a column name&#39; and the system will list all the matching name for selection. To delete columns, click the <strong>&#39;X&#39;</strong> at the end of column name.</p>
      <ul>
        <li><code>Show Full System Columns List</code> : Show / Hide full columns list that current stored in the system.</li>
        <li><code>Get Sys.Standard</code> : Copy System standard columns list to user owned standard / Customized columns list.</li>
        <li><code>Save</code> : Save the operations to database.</li>
        <li><code>Reset</code> : clear all the current operations and go back to the original version before saving.</li>
      </ul>
      <blockquote>
        <p><img class="emoji" title=":tada:" alt="tada" src="images/icon/tada.png" height="20">Tips:</p>
        <ul>
          <li><p>Always remember to click &#39;Save&#39; to store the new modified list to database.</p>
          </li>
          <li><p>System not allowed to enter a columns that not exists in the system, always select from searching list.</p>
          </li>
        </ul>
      </blockquote>
    <h2 id="test-file-upload-log">Test File Upload Log</h2>
      <p>Page show the log information for testing files uploading (Auto upload or manual upload by admin). By default, it only list the log information for the last three months. The comment show detail upload information for each data and configuration file.</p>
      <ul>
        <li><code>Start Date</code> : Search input for start date.</li>
        <li><code>End Date</code> : Search input for end date.</li>
        <li><code>Search</code> : Search button for filter shown experiments by selected data scope.</li>
        <li><code>Shown Period</code> : Filter shown experiments by various selections, last three months, last six months, last one year, and all.</li>
        <li><code>Reset</code> : Clear the time scope selection.</li>
      </ul>
      <p>In case if need to manual upload test file from default location, go to <code>Manual Operation</code> tab to click the button.</p>

    <h2 id="system-setting-administrator-only">System setting - Administrator Only</h2>
    <h4 id="standard-setting">Standard Setting</h4>
      <p>Administrator need to set up system standard columns list when the project started. Auto upload or manual upload for test files (data and configuration file) need to check whether the uploaded files have the system standard columns. To add columns, type the name in the top part &#39;Search for a column name&#39; and the system will list all the matching name for selection. If no matching columns list pop up, manual input is also accepted. To delete columns, click the <strong>&#39;X&#39;</strong> at the end of column name.</p>
      <ul>
        <li><code>Show Full System Columns List</code> : Show / Hide full columns list that current stored in the system.</li>
        <li><code>Save</code> : Save the operations to database.</li>
        <li><code>Reset</code> : Clear all the current operations and go back to the original version before saving.</li>
      </ul>
      <blockquote>
        <p><img class="emoji" title=":tada:" alt="tada" src="images/icon/tada.png" height="20">Tips:</p>
        <ul>
          <li><p>Always remember to click &#39;Save&#39; to store the new modified list to database.</p>
          </li>
          <li><p>System allowed to enter a columns that not exists in the system, ATTENTION for typos.This is only for administrator to set up at the very beginning.</p>
          </li>
        </ul>
      </blockquote>
    <h4 id="data-setting">Data Setting</h4>
      <p>Administrator could set up &#39;Program / Record Mode&#39; pair and &#39;Experiment Type&#39; in the data setting page. Different tab page will be similar information for &#39;Program / Record Mode&#39; pair and &#39;Experiment Type&#39;.</p>
      <ul>
        <li><p><code>Create New Row</code> : Add one new record into the information list from the left part.</p>
          <ul>
          <li>Input Values for information fields.</li>
          <li>Click <code>Add Row</code> button to add into list on the right side.</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><p><code>Edit</code> : The current values will be automatically showed on the left part for modifications.</p>
          <ul>
            <li>Modified the information fields as needed.</li>
            <li>Click &#39;Save change&#39; button to save into list on the right side.</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><code>Delete</code> : Delete the selected record from the list on the right side.</li>
        <li><code>Save</code> : Save the modifications to database.</li>
        <li><code>Reset</code> : Clear all the current operations and go back to the original version before saving.</li>
      </ul>
      <blockquote>
        <p><img class="emoji" title=":tada:" alt="tada" src="images/icon/tada.png" height="20">Tips:</p>
        <ul>
          <li>Always remember to click &#39;Save&#39; to store the new modified list to database.</li>
        </ul>
      </blockquote>
    <h4 id="column-mapping">Column Mapping</h4>
      <p>Administrator could set up &#39;Column Mapping&#39; for legacy columns name changed problem. The system will automatically mapping the new columns to the old columns and replace it for user retrieved files. The mapping only work for data files.</p>
      <p>Operation are similar to section <a ng-click="scrollTo('data-setting')">Data Setting</a>.</p>

    <h4 id="file-upload-setting">File Upload Setting</h4>
      <p>Administrator have to set up &#39;Auto-upload configuration&#39; for test file uploading.</p>
      <ul>
        <li>Upload File Prefix : Define the file name prefix for both data file and configuration file. By default, data file prefix is <strong>data</strong> and configuration file prefix is <strong>conf</strong>.</li>
        <li>Linkage Columns : Define the linking columns list that merging the data file and the corresponding configuration file.  </li>
      </ul>
      <p>Operation are similar to section <a ng-click="scrollTo('data-setting')">Data Setting</a>.</p>
      <blockquote>
        <p><img class="emoji" title=":tada:" alt="tada" src="images/icon/tada.png" height="20">Tips:</p>
        <ul>
          <li>Always remember to click &#39;Save&#39; to store the new modified list to database.</li>
        </ul>
      </blockquote>
    <h2 id="auto-upload-rules">Auto Upload Rules</h2>
      <ol>
        <li><p>Test file naming convention : <em>&#39;part1_part2_part3_part4_part5&#39;</em>.   <strong>ALL lower case</strong>.</p>
          <ul>
            <li>Part 1: prefix for data file or configuration file that matching system setup.</li>
            <li>Part 2: name of program name that existing in the system.</li>
            <li>Part 3: name of record mode that existing in the system.</li>
            <li>Part 4: &#39;y&#39; for read only and &#39;n&#39; for full device.</li>
            <li>Part 5: unique name for this file.(Same for the data and configuration file pair)</li>
          </ul>
        </li>
        <li><p>Data file and configuration file should have the same file name, except for the prefix part (part 1).</p>
        </li>
        <li><p>Data file and configuration file both have columns for Linkage as system set up, see section <a ng-click="scrollTo('file-upload-setting')">File Upload Setting</a>.</p>
        </li>
        <li><p>Data file also have the standard columns lists that system stored, see section <a ng-click="scrollTo('standard-setting')">Standard Setting</a></p>
        </li>
        <li><p>Both data file and configuration file should be placed on the folder <a id = 'uf' value ="\\172.18.60.20\DETDP\Upload_Files">\\mapserverdev\DETDP\Upload_Files</a>
          <a href="" ngclipboard data-clipboard-target="#uf">
              [Copy]
          </a>
          (Enter this address into your fold path).</p>
        </li>
        <li><p>If same data file and configuration file exiting in the system (checking by file name), system will replace the current files and write to log for duplicates.</p>
        </li>
        <li><p>Upload log will be stored daily as <em>csv</em> file in the same location. Name convention is <em>&#39;user_UplaodMethod_log_timestamps&#39;</em>. Log files will be deleted 60 days later.</p>
        </li>
        <li><p>If upload succeed, system will delete the uploaded files from the location. If not, system will leave it as it is. The server will regard it as garbage to delete later (7 days).</p>
        </li>
      </ol>
      <blockquote>
        <p><img class="emoji" title=":tada:" alt="tada" src="images/icon/tada.png" height="20">Tips:</p>
        <ul>
          <li><p>Example for data file name: <em>&#39;data_apollo_cmr_n_DOE976WFTY.csv&#39;</em>.</p>
          </li>
          <li><p>Example for corresponding configuration file name: <em>&#39;conf_apollo_cmr_n_DOE976WFTY.csv&#39;</em>.</p>
          </li>
          <li><p>Example for system log file name: <em>&#39;Sys_auto_log_20160116110034.csv&#39;</em>.</p>
          </li>
          <li><p>Example for administrator manual upload log file name: <em>&#39;Admin_manual_log_20160116110034.csv&#39;</em>.</p>
          </li>
        </ul>
      </blockquote>
</div>
<div flex = "5"></div>
</div>
