<md-content>
<form>
  <md-card>
    <md-card-content layout="column" layout-align="center center">
      <md-input-container>
      <label>User name</label>
      <input ng-model="user.name">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input ng-model="user.password">
    </md-input-container>
    </md-card-content>

    <div class="md-actions" layout="row" layout-align="center center">
        <md-button>Login</md-button>
      </div>
  </md-card>
</form>
</md-content>
