<link rel="stylesheet" href="styles/retrieve.css" />
<style>
         table, th , td {
            border-collapse: collapse;
            padding: 5px;
         }

         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }

         table tr:nth-child(even) {
            background-color: #ffffff;
         }
</style>

<br>
<div layout = "row">
  <div flex="5"></div>
  <form flex = "90" layout = "row">
    <span class="md-headline">System Upload Log</span>
    <span flex></span>
    <md-button class="md-primary md-raised" ng-click="doSearchLog('S')">Search</md-button>

      <div layout="row" layout-align="end center">
        <span flex></span>
        <md-button class="md-primary md-raised" ng-click="doSearchLog('A')">Get All</md-button>
        <span flex></span>
        <md-button ng-click="doReset()">Reset</md-button>
      </div>

  </form>
  <div flex="5"></div>
</div>
<div layout="column" ng-cloak="">
  <md-content class="md-padding" layout="row">
  <div flex="5"></div>
  <form flex="90">
    <md-tabs md-dynamic-height md-border-bottom >
      <md-tab label="Log Information">
        <md-card>
          <md-card-title>
          </md-card-title>

          <md-card-content layout="column">
            <div layout="column" flex ="20" layout-align="left center">
              <div layout = "row">
                <md-datepicker ng-model="search.start_date" md-max-date="maxDate" md-placeholder="Enter Start date" ></md-datepicker>
                <md-datepicker ng-model="search.end_date" md-date-filter="onlyLaterDate" md-max-date="maxDate" md-placeholder="Enter End date"></md-datepicker>
              </div>
            </div>
            <div layout = "column" flex>
              <md-card>
                <md-card-title layout="column" layout-align="center center">
                  <md-card-title-text layout = "row">
                    <h5><strong>System Upload Log Overview</strong></h5><div ng-show= "logSearchInfo.length"><h5><strong>({{logSearchInfo.length}})</strong></h5></div>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <md-content flex layout-padding style="height: 500px">
                  <span flex>
                    <table class="table table-hover">
                      <tr>
                        <th>Data File Name</th>
                        <th>Conf File Name</th>
                        <th>Program/Record Mode</th>
                        <th>Read Only/Full Device</th>
                        <th>Column Info</th>
                        <th>CheckIn Date</th>
                        <th>Upload Date</th>
                        <th>Duplicates</th>
                        <th>Upload Status</th>
                        <th>Upload User</th>
                        <th>Comment</th>
                      </tr>
                      <tr ng-repeat="row in logSearchInfo">
                        <td>{{row.log.data_file}}</td>
                        <td>{{row.log.conf_file}}</td>
                        <td>{{row.log.program}}</td>
                        <td>{{row.log.read_only}}</td>
                        <td>{{row.log.column_check}}</td>
                        <td>{{row.log.checkIn_date}}</td>
                        <td>{{row.log.upload_date}}</td>
                        <td>{{row.log.number_of_check}}</td>
                        <td>{{row.log.status}}</td>
                        <td>{{row.log.upload_user}}</td>
                        <td>{{row.log.comment}}</td>
                      </tr>
                    </table>
                  <span>
                  </md-content>
                </md-card-content>
              </md-card>
            </div>
          </md-card-content>
        </md-card>
      </md-tab>
      <md-tab label="Manual Operation" >
        <form flex = "90" layout = "row">
          <br>
          <span flex></span>
          <md-button class="md-primary md-raised" ng-click="doManualUpload()">Manual Upload</md-button>
        </form>
      </md-tab>
    </md-tabs>
  </form>
  <div flex="5"></div>
  </md-content>
</div>
