<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
    html, body { height: 100%; }
    table, th , td {
        border-collapse: collapse;
        padding: 5px;
    }

    table tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    table tr:nth-child(even) {
        background-color: #ffffff;
    }

</style>

<br>
<div layout = "row">
  <div flex="5"></div>
  <form flex = "90" layout = "row">
    <span class="md-headline">Work File Upload</span>
    <span flex></span>
    <md-button class="md-primary md-raised" ng-click="doConcatWorkFile()">Concat</md-button>
      <div layout="row" layout-align="end center">
        <span flex></span>
        <md-button ng-click="doResetInput()">Reset</md-button>
      </div>
  </form>
</div>
<div layout="column" ng-cloak="">
  <md-contentclass="md-padding" layout="row">
    <div flex="5"></div>
    <form flex="90">
      <md-tabs md-dynamic-height md-border-bottom >
        <md-tab label="File Upload">
          <div layout = "row">
          <md-card flex = "20">
            <md-card-content layout="column">
              <div layout="column">
                <md-input-container flex>
                  <label>Record Mode</label>
                  <md-select ng-model="exp_files.record_mode" required>
                    <md-option ng-repeat="mode in recordmode_list" value="{{mode}}">{{mode}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <label>Program</label>
                  <md-select ng-model="exp_files.program" required>
                    <md-option ng-repeat="f in program_list | filter: {record_mode: exp_files.record_mode }"
                               value="{{f.program}}">{{f.program}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <label>Experiment Type</label>
                  <md-select ng-model = "exp_files.exp_type" required>
                    <md-option ng-repeat = "type in exp_type" value= "{{type}}">{{type}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <!-- <div><p ng-if="exp_files.program || exp_files.record_mode">You selected a "{{exp_files.record_mode}}" record mode
                with program "{{exp_files.program}}".</p></div> -->
              <br>
              <div layout="row">
                <md-radio-group ng-model="exp_files.read_only" required>
                  <md-radio-button value="y">Read Only</md-radio-button>
                  <md-radio-button value="n"> Full Device</md-radio-button>
                </md-radio-group>
              </div>
              <br>
              <md-input-container>
                <label>Project</label>
                <input ng-model="exp_files.project">
              </md-input-container>

              <md-input-container>
                <label>Tester</label>
                <input ng-model="exp_files.tester" >
              </md-input-container>

              <md-input-container>
                <label>Comment</label>
                <input ng-model="exp_files.comment">
              </md-input-container>
            </md-card-content>
          </md-card>
          <md-card flex = "70">
            <md-card-content layout = "row" layout-align="center start">
              <div class="col-md-3" flex>
                  <h3>Select Multiple files</h3>
                  <input type="file" nv-file-select="" uploader="uploader" multiple /><br/>
              </div>
              <div class="col-md-9" style="margin-bottom: 80px">
                <h3>Upload queue</h3>
                <p>Queue length: {{ uploader.queue.length }}</p>
                <table class="table">
                  <thead>
                    <tr>
                      <th width="60%">Name</th>
                      <th ng-show="uploader.isHTML5">Size</th>
                      <th ng-show="uploader.isHTML5">Progress</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in uploader.queue">
                      <td><strong>{{ item.file.name }}</strong></td>
                      <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                      <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                          <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                      </td>
                      <td nowrap>
                        <!-- <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                          <span class="glyphicon glyphicon-upload"></span> Upload
                        </button> -->
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                          <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                        <!-- <md-input-container> -->
                          <label>Description</label>
                          <input ng-model="file_descr[$index]">
                        <!-- </md-input-container> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div>
                  <div>
                    Queue progress:
                    <div class="progress" style="">
                      <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                  </button>
                  <button type="button" class="btn btn-danger btn-s" ng-click="clearAll()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                  </button>
                </div>
              </div>
            </md-card-content>
          </md-card>
        </div>
        </md-tab>
        <md-tab label="Upload Summary">
          <md-card>
            <md-card-content layout="column">
              <div class="md-actions" layout="row" layout-align="left center">
                  <md-datepicker ng-model="search.start_date" md-max-date="maxDate" md-placeholder="Enter Start date" ></md-datepicker>
                  <md-datepicker ng-model="search.end_date" md-date-filter="onlyLaterDate" md-max-date="maxDate" md-placeholder="Enter End date"></md-datepicker>
              </div>
              <div layout = "column" flex>
                <md-card>
                  <md-card-title>
                    <md-card-title-text layout="row">
                      <div flex = "75" layout="row" layout-align="center center">
                        <h5><strong>User Work File Overview</strong></h5><div ng-show= "workFileInfo.length"><h5><strong>({{workFileInfo.length}})</strong></h5></div>
                      </div>
                      <div flex = "20" layout="row" layout-align="center center">
                          <span flex></span>
                            Shown Period:
                            <select ng-model="ShownPeriod" ng-change="onShowPeriodChanged()" ng-init=onShowPeriodChanged() >
                                <option value="3">Last 3 Months</option>
                                <option value="6">Last 6 Months</option>
                                <option value="1">Last 1 Year</option>
                                <option value="A">All</option>
                            </select>
                      </div>
                    </md-card-title-text>
                  </md-card-title>
                  <md-card-content>
                    <md-content flex layout-padding style="height: 500px">
                      <table class="table table-hover">
                        <tr>
                          <th>User Name</th>
                          <th>Exp Number</th>
                          <th>Timestamp</th>
                          <th>Exp Type</th>
                          <th>Project</th>
                          <th>Program</th>
                          <th>Record Mode</th>
                          <th>Read Only/Full Device</th>
                          <th>Tester</th>
                          <th>Comment</th>
                          <th>Exp Files</th>
                          <th>Action</th>
                        </tr>
                        <tr ng-repeat="row in workFileInfo">
                          <td>{{row.exp_user}}</td>
                          <td>{{row.exp_no}}</td>
                          <td>{{row.timestamp}}</td>
                          <td>{{row.exp_type}}</td>
                          <td>{{row.project}}</td>
                          <td>{{row.program}}</td>
                          <td>{{row.record_mode}}</td>
                          <td>{{row.read_only}}</td>
                          <td>{{row.tester}}</td>
                          <td>{{row.comment}}</td>
                          <td>{{row.files.length}}</td>
                          <td nowrap>
                            <button class="btn" ng-click="editRow($index, row.exp_user, row.exp_no)">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                            </button>
                            <button class="btn" ng-click="deleteRow($index)">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Delete
                            </button>

                          </td>
                        </tr>
                      </table>
                    </md-content>
                  </md-card-content>
                </md-card>
              </div>
            </md-card-content>
          </md-card>
        </md-tab>
      </md-tabs>
    </form>
    <div flex="5"></div>
  </md-content>
</div>
