<div>
  <md-dialog aria-label="Upload Overview"  ng-cloak>
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Upload Overview</h2>
          <span flex></span>
        </div>
      </md-toolbar>
      <md-dialog-content style="max-width:800px;max-height:810px; ">
        <div class="md-dialog-content">
          {{uploadinfo}}
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button style="margin-right:20px;" ng-click = "">
          Got it!
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
</div>
