
<!-- <link rel="stylesheet" href="styles/user_setting.css" /> -->

<style>
.chipsdemoCustomInputs md-content.autocomplete {
  min-height: 200px;
}

.chipsdemoCustomInputs input[type=number] {
  width: 110px;
}

.chipsdemoCustomInputs input[type=number] {
  width: 110px;
}

.chipsdemoCustomInputs .veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px;
}

.chipsdemoCustomInputs .veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px;
}

.chipsdemoCustomInputs .veggie-option .md-item-text h3,
.chipsdemoCustomInputs .veggie-option .md-item-text p {
  padding: 0;
  margin: 0;
}
</style>

<br>

<div layout = "row">
  <div flex="5"></div>
    <form flex = "90" layout = "row">
      <span class="md-headline">Search and Build User's Columns Setup</span>
      <span flex></span>
      <md-button class="md-primary md-raised" ng-click="doSaveToDB()">Save</md-button>
      <div layout="row" layout-align="end center">
        <span flex></span>
        <md-button class="md-primary md-raised" ng-click="doGetSysStd()"><strong>Get Sys.Standard</strong></md-button>
        <span flex></span>
        <md-button ng-click="doResetToUserProf()">Reset</md-button>
      </div>
    </form>
  <div flex="5"></div>
</div>
<div layout="column" ng-cloak="" class="chipsdemoCustomInputs">
  <md-content class="md-padding" layout="row">
  <div flex="5"></div>
  <form flex="90">
    <md-tabs md-dynamic-height md-border-bottom >
      <md-tab label="Standard Setup ({{selectedStdCols.length}})"  md-on-select = "setIndex(0)">
        <md-card>
          <md-card-title>
          </md-card-title>

          <md-card-content>
            <md-chips ng-model="selectedStdCols" md-autocomplete-snap="" md-transform-chip="transformChip($chip)" md-require-match="true">
              <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item" placeholder="Search for a column name">
                <span md-highlight-text="searchText">{{item}}</span>
              </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>{{$chip}}</strong>
                </span>
              </md-chip-template>
            </md-chips>
          </md-card-content>
        </md-card>
      </md-tab>
      <md-tab label="Customized Setup ({{selectedCusCols.length}})"  md-on-select = "setIndex(1)">
        <md-card>
          <md-card-title>
          </md-card-title>

          <md-card-content>
            <md-chips ng-model="selectedCusCols" md-autocomplete-snap="" md-transform-chip="transformChip($chip)" md-require-match="true">
              <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item" placeholder="Search for a column name">
                <span md-highlight-text="searchText">{{item}}</span>
              </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>{{$chip}}</strong>
                </span>
              </md-chip-template>
            </md-chips>
          </md-card-content>
        </md-card>
      </md-tab>
    </md-tabs>
    <md-card>
      <md-card-title>
        <md-checkbox ng-model="showFlag">
          Show Full System Columns List ({{fulllist.length}})
        </md-checkbox>
      </md-card-title>
      <md-card-content>
        <md-list ng-show = "showFlag">
          <md-list-item class="md-2-line veggie-option" ng-repeat="col in fulllist" layout="row" layout-wrap="">
            <div class="md-item-text md-whiteframe-z1" flex="">
              <h5>{{col}}</h5>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
      <md-divider ng-if="!$last"></md-divider>
    </md-card>
  </form>
  <div flex="5"></div>
  </md-content>
</div>
